/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}
/*Selector de Etiquta*/
body{
    width: 1200;
    height: 900px;
    background-color: white;
}
nav{
    color: #000;
}

button{
    background-color: #5e5e4a;
    height: 40px;
    width: 130px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 800px;
    flex: 2;
}


.menu{
    
    padding: 10px 70px;
    margin: 1em;
}

a{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
}
nav a:hover{
    color: red;
}

picture{
    display: inline;
}

article{
    display: inline;
}


/*Selector de id*/
#contenedor{
    width: 1200px;
    height: 900px;
}

#encabezado{
    background-color: #B58A69;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #BADA55;
}

#seccion{
    background-color: #DEE5DE;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 7px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#aside{
    background-color: #d7d7cb;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
}

#pie{
    background-color: #5E5E4A;
    margin-left: 50px;
    margin-right: 50px;
}

.texto1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 300px;
    text-align: left;
    color: #000 ;
}
.texto2{
    font-size: 20px;
    margin-left: 22px;
    margin-right: 320px;
    text-align: justify;
}


.encabezado-titulo{
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #000;
}

.imgaside{
    height: 220px;
    width: 350px;
}

.pie{
    font-size: 14px;
    color: #E8E6E6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

section{
    display: flex;
}

#imagen{
    flex: 1;
    margin-top: 30px;
    margin-left: 20px;
}

#articulotexto{
    flex: 1;
}

.colormenu{
    color:#000;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

@media(max-width:768px){
    nav{
       display: flex;
       flex-direction: column;
       
    }
}